*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .form-register {
    width: 400px ;
    background: #ffffff;
    padding: 20px;
    margin: auto;
    margin-top: 8%;
    border-radius: 4px;
    font-family: 'calibri';
    color: #1877f2;
    text-align: center;
    
    }
    
    .form-register h4 {
    font-size: 25px;
    margin-bottom: 6px;
    margin-top: 5%;
    }
    
    .controls {
    width: 100%;
    background-color: #f0efefa5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 6px;
    font-family: "calibri";
    font-size: 14px;
    color: rgb(0, 0, 0);
    border-color:aliceblue;
    }
    
    
    .form-register p {
    height: 40px;
    text-align: center;
    font-family: 18px;
    line-height: 40px;
    margin-top: -2%;
    color: #1877f2;
    }
    
    .form-register a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    padding-top: 25px;
    }
    
    
    .form-register .botons {
    width: 100%;
    background:#1877f2;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-family: "caliri";
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-color: #1877f2;
    margin-top: 2%;
    }
    
    .boton{
        color: rgb(255, 255, 255);
        background-color:rgb(0, 140, 23);
        width: 40%;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 8px;
        font-family: "calibri";
        font-size: 15px;
        margin-top: 7%;
       background-color: #42b72a;
       border-color: #42b72a;
    }
     img {
        position: relative;
        top: 25px;
        left: -5px;
        width: 125%;
        margin: -10%;
    }
    hr {
        margin-top: 7%;
    }
    .form-register h1{
       color: #1877f2;
       font-size: 14px;
       margin-top: 1%;
       text-align: center;
    }



    